html{
	background: #f5f5f5;
}
ul,li{
	list-style: none;
}
.intput{
	border-radius: 15px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
	outline: none;
	text-indent: 14px;
}
.btnAdd{
	border:0px;
	background: #57D1DC;
	color: #fff;
	border-radius: 10px;
	outline: none;
	width: 50px;
	height: 30px;
	line-height: 30px;
	-webkit-tap-highlight-color: rgba(255, 255, 255,.7);
	box-shadow: 0 2px 4px rgba(0,0,0,0.125);
	transition: box-shadow 0.7s;
}
.btnAdd:hover{
	box-shadow: 1px 4px 8px rgba(0,0,0,0.2);
}
.list{
	width: 270px;
	height: 30px;
	line-height: 30px;
	border-left: 3px solid #57D1DC;
	color: #444;
	background: #fff;
	text-indent: 14px;
	margin-top: 10px;
}
.tabNum{
	border-radius: 10px;
	background-color: #57D1DC;
	color: #fff;
	padding: 0 7px;
}